.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: transparent;
  border-radius: .3rem;
  height: 500px;
}

.hero-wrapper {
  padding: 16px 0;
}

.hero-heading {
  font-size: 40px;
}

.login-card {
  border: 1px solid darkgreen;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: white;
}