.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: transparent;
  border-radius: .3rem;
  height: 500px;
}

.hero-wrapper {
  padding: 16px 0;
}

.hero-heading {
  font-size: 40px;
}

.login-card {
  border-radius: 10px;
  padding: 16px;
  max-width: 400px;
  max-height: 500px;;
  background: white;
}