.carousel-section {
  height: 600px;
}

.react-multi-carousel-item{
  max-width: 660px;
  min-width: 660px;
}

.tourReviews-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tourReviews-mainbox {
  position: relative;
  width: 575px;
  height: 300px;
  border-radius: 10px;
  background-color: #282828;
  box-shadow: 0 30px 30px rgba(0,0,0,0.6);
  overflow: hidden;
}

.tourReviews-imgbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.tourReviews-imgbox img{
 border-radius: 75%;
 height: 100px;
 width: 100px;
}

.tourReviews-info {
  color: #fff;
  font-size: 18px;
  padding: 8px;
}

.tourReviews-info ul {
  list-style-type: none;
  color: yellow;
}

.top-left {
  position: absolute;
  top: 80%;
  left: 85%;
  transform: translate(-50%, -50%);
}

.top-middle {
  position: absolute;
  top: 10%;
  left: 38%;
  transform: translate(-50%, -50%);
}

.body-text {
padding: 50px;
align-self: center;
}