/* .navbar-container {
  background: white;
}

.nav-links {
  display: flex;
  color: rgba(20, 20, 20, 0.932);
  list-style-type: none;
  text-decoration: none;
}

.nav-link {
  color: grey;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 20px;
  transition: all 0.3s linear;
}

.nav-link:hover {
  color: rgba(133, 30, 30, 0.829);
} */

/* Navbar Styling */


